/* CONTACT */
.contact-form {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}
.footer {
  position: relative;
  bottom: 0;
  justify-content: flex-end;
  margin-top: auto;
  padding: 0;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.5em;
  font-style: italic;
  color: antiquewhite;
}
.inputs {
  margin: 1em;
}
.submitbtn {
  width: 15em;
  border-radius: 4px;
  padding: 0.4em;
  margin: 1em;
  background: linear-gradient(to right, rgb(101, 247, 191) 50%, white 50%);

  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  letter-spacing: 0.1em;
}
.submitbtn:hover {
  background-position: left bottom;
  color: rgb(28, 28, 30);
  font-weight: 700;
  letter-spacing: 0.15em;
}
