@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.app {
  background-color: #000000;
  background-image: linear-gradient(380deg, #0e141b 78%, #414141 74%);
  overflow-x: hidden;
}
.main-page {
  background-color: #0e141b;
  background-image: linear-gradient(340deg, #0e141b 45%, #414141 45%);
}
#contact {
  background-color: #000000;
  background-image: linear-gradient(160deg, hsl(0, 0%, 7%) 23%, #414141 53%);
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  /* border-style: solid; */
  height: 10em;
  width: 3em;
  top: 20em;
  position: fixed;
  padding: 0.5em;
}
.social-svg {
  font-size: 2em;
  text-decoration: none;
  color: white;
}
.social-svg:hover {
  text-decoration: none;
  color: white;
}

.rescroll {
  position: fixed;
  height: 2em;
  width: 29em;
  top: 43em;
  right: -13em;
  margin-left: 10em;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
}
#rescroll-button {
  text-decoration: none;
  color: white;
}
.line {
  height: 0.1em;
  width: 1em;
  background-color: white;
  margin-top: 10px;
  margin: 10px;
}

@media (max-width: 390px) {
  .app {
    width: 100vw;
    overflow-x: hidden;
  }
  .landing-section {
    width: 100vw;
  }
  .hero {
    height: 10em;
    width: 10em;
    margin-right: 4em;
  }
  .top-head {
    font-size: 1.2em;
  }
  .name-title {
    font-size: 3em;
  }
  .bottom-head {
    font-size: 1em;
  }
  .social-svg {
    font-size: 1.6em;
    margin-top: 1em;
  }
  .social-links {
    position: fixed;
  }
  .card-container {
    height: 2em;
    width: auto;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
    width: 10em;
    height: auto;
    flex-wrap: nowrap;
  }
  .project-section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }
  #project {
    height: 100vh;
    width: 100vw;
  }
  .card-container {
    height: 150px;
  }
  /*Project section*/
  .card-title {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  .card-tool {
    font-size: 10px;
  }

  .rescroll {
    display: none;
  }

  /*experience section*/
  .experience-text {
    position: relative;
    text-align: center;
    width: 100vw;
    margin: 0;
    margin-top: 5em;
  }
  #et-1 {
    font-size: 10px;
  }
  #et-2 {
    font-size: 15px;
  }
  #et-3 {
    font-size: 10px;
  }
  .toolitem {
    height: 40px;
  }
  .setoftools {
    width: 400px;
    left: 8%;
    transform: none;
  }
  .tools-title {
    position: relative;
    text-align: center;
    margin-right: 5em;
  }
  .tools {
    margin-right: 10em;
    width: 389px;
    height: 100px;
  }
  /*ABOUT ME SECTION*/

  #about {
    display: flex;
    flex-direction: row-reverse;
  }
  .aboutme-container {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-right: 22px;
    width: 100% !important;
  }
  .aboutme-container p {
    font-size: 13px;
  }
  .personal-img {
    width: 10em;
    transform: none;
    top: auto;
    margin-top: 35px;
    margin-left: 18px;
  }
  .left-column-aboutme {
    margin: 20px 0 10em 4em;
  }
  .column-right-aboutme {
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    width: 100px;
  }
  .contact-container {
    text-align: center;
    width: 80vw !important;
  }
  #contact p {
    text-align: center;
    color: bisque;
  }
  .td {
    width: 10px;
  }
  #message-input {
    display: flex;
    align-items: center;
  }
  .contact-form-table {
    position: relative;
  }
  #contact-text {
    font-size: 14px;
  }
  .contact-title {
    letter-spacing: 5px;
  }
  .name-title {
    font-size: 30px;
  }
  .bottom-head {
    font-size: 18px;
  }
  .main-page {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    background-color: #0e141b;
    background-image: linear-gradient(157deg, #0e141b 34%, #414141 34%);
  }
}

@media only screen and (min-width: 400px) and (max-height: 926px) and (max-width: 500px) {
  .app {
    width: 100vw;
    overflow-x: hidden;
  }
  .landing-section {
    width: 100vw;
  }
  .hero {
    height: 14em;
    width: 14em;
    margin-right: 4em;
  }
  .top-head {
    font-size: 1.2em;
  }
  .name-title {
    font-size: 3em;
  }
  .bottom-head {
    font-size: 1em;
  }
  .social-svg {
    font-size: 1.6em;
    margin-top: 1em;
  }
  .social-links {
    position: fixed;
  }
  .card-container {
    height: 2em;
    width: auto;
  }
  .project-container {
    display: flex !important;
    flex-direction: column !important;
    width: 10em;
    height: auto;
    flex-wrap: nowrap;
  }
  .project-section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  #project {
    height: 100vh;
    width: 100vw;
  }
  .card-container {
    height: 150px;
  }
  /*Project section*/
  .card-title {
    font-size: 14px;
  }
  p {
    font-size: 10px;
  }
  .card-tool {
    font-size: 10px;
  }

  .rescroll {
    display: none;
  }

  /*experience section*/
  .experience-text {
    position: relative;
    text-align: center;
    width: 100vw;
    margin: 15em 0 0 0 !important;
  }
  #et-1 {
    font-size: 12px !important;
  }
  #et-2 {
    font-size: 17px !important;
  }
  #et-3 {
    font-size: 12px !important;
  }
  .toolitem {
    height: 55px !important;
  }
  .setoftools {
    width: 400px !important;
    left: 8% !important;
    transform: none !important;
  }
  .tools-title {
    position: relative;
    text-align: center;
    margin-right: 5em;
  }
  .tools {
    margin-right: 10em;
    width: 389px !important;
    height: 100px;
  }
  /*ABOUT ME SECTION*/

  #about {
    display: flex;
    flex-direction: row-reverse;
  }
  .aboutme-container {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-right: 22px;
    width: 100% !important;
  }
  .aboutme-container p {
    font-size: 13px;
  }
  .personal-img {
    width: 10em !important;
    transform: none !important;
    top: auto !important;
    margin-top: 35px !important;
    margin-left: 18px !important;
  }
  .left-column-aboutme {
    margin: 20px 0 10em 4em;
  }
  .column-right-aboutme {
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    width: 100px;
  }
  .contact-container {
    text-align: center;
    width: 80vw !important;
  }
  #contact p {
    text-align: center;
    color: bisque;
  }
  .td {
    width: 10px;
  }
  #message-input {
    display: flex;
    align-items: center;
    margin-left: 1.2em;
  }
  .contact-form-table {
    position: relative;
  }
  #contact-text {
    font-size: 14px;
  }
  .contact-title {
    letter-spacing: 5px;
  }
  .name-title {
    font-size: 30px;
  }
  .bottom-head {
    font-size: 18px;
  }
  .main-page {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    background-color: #0e141b;
    background-image: linear-gradient(157deg, #0e141b 34%, #414141 34%);
  }
}

@media only screen and (min-width: 890px) and (max-height: 446px) and (max-width: 1000px) and (orientation: landscape) {
  .hero {
    height: 17em;
    width: 18em;
    margin: 0px 0 5em 7em;
  }
  .name-title {
    font-size: 1.3em;
  }
  .bottom-head {
    font-size: 1em;
  }
  .top-head {
    font-size: 1em;
  }
  .left-text {
    margin-top: 4em;
  }
  .social-links {
    top: 7em;
  }
  .project-container {
    height: 100%;
  }
  .project-section {
    height: 100%;
  }
  #project {
    height: 100%;
  }
  .big-Container {
    margin-top: 10em !important;
  }
  #et-1 {
    font-size: 15px;
  }
  #et-2 {
    font-size: 20px;
  }
  #et-3 {
    font-size: 15px;
  }
  .toolitem {
    height: 60px;
  }
  .setoftools {
    width: 800px;
    /* left: 8%;
    transform: none; */
  }
  .tools-title {
    position: relative;
    text-align: center;
  }
  .personal-img {
    width: 13em;
    height: auto;
  }
  p {
    font-size: 11px;
  }
  .contact-title {
    margin: 0;
  }
  .left-column-aboutme {
    width: 26em;
  }
}
/* @media only screen and (min-width: 800px) and (max-height: 446px) and (max-width: 830px) and (orientation: landscape) {
  .hero {
    height: 17em;
    width: 18em;
    margin: 0px 0 5em 7em;
  }
  .name-title {
    font-size: 1.3em;
  }
  .bottom-head {
    font-size: 1em;
  }
  .top-head {
    font-size: 1em;
  }
  .left-text {
    margin-top: 4em !important;
  }
  .social-links {
    top: 7em;
  }
  .project-container {
    height: 100%;
  }
  .project-section {
    height: 100%;
  }
  #project {
    height: 100%;
  }
  .big-Container {
    margin-top: 10em !important;
  }
  #et-1 {
    font-size: 15px;
  }
  #et-2 {
    font-size: 20px;
  }
  #et-3 {
    font-size: 15px;
  }
  .toolitem {
    height: 60px;
  }
  .setoftools {
    width: 800px;
  
  }
  .tools-title {
    position: relative;
    text-align: center;
  }
  .personal-img {
    width: 13em;
    height: auto;
  }
  p {
    font-size: 11px;
  }
  .contact-title {
    margin: 0;
  }
  .left-column-aboutme {
    width: 21em;
  }
} */
