.app {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.project-section {
  height: 100vh;
  width: 100%;
}
.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  /* border-style: solid; */
  height: 10em;
  width: 3em;
  top: 25em;
  position: fixed;
  padding: 0.5em;
}
.social-svg {
  color: white;
  font-size: 2em;
}
.navbar-brand {
  color: white !important;
}
.navA {
  color: white !important;
}
.navA:hover {
  background-color: bisque;
  color: black !important;
}
.navbar-toggler-icon {
  background-color: white !important;
}
.top-head {
  font-size: 1.8em;
  color: bisque;
  font-weight: 500;
}
.name-title {
  font-size: 4em;
}
.bottom-head {
  font-size: 1.2em;

  color: bisque;
  font-weight: 500;
}
.hero {
  margin: 0 0 0 4em;
}
.prj-title {
  color: white;
  text-align: center;
}

.navigation::before {
  opacity: 0 !important;
  top: -100 !important;
}
.navigation::after {
  opacity: 1 !important;
  top: 0 !important;
}

/* CARD COMPONENT STYLE*/
.card-container {
  color: white;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  font-size: 20px;
}
.fclogo {
  font-size: 1.2em;
}

.card-container {
  border-style: solid;
  height: 15em;
  padding: 1.2em;
}

.card-tool {
  font-size: 0.8em;
}

/* Experience */
/* .experience-title {
  height: 1em;
  grid-column: 1;
  grid-row: 1;
} */
/* .big-Container {
  text-align: center;
} */
.experience ul {
  list-style: none;
}
.test {
  grid-column: 1 / span 4;
  grid-row: 1;
  text-align: center;
  color: white;
}
.development {
  color: white;
  list-style: none;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0 0 8em;
}
.ul-dev {
  text-align: center;
}
.database {
  color: white;
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 0;
  align-self: end;
  justify-content: center;
  margin-left: 4em;
}
.database-title {
  display: flex;
  flex-direction: column;
}

.database h1 {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
}

.tools-section {
  color: white;
  grid-column: 3 / span 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 4em;
}
.tools-title {
  padding: 0;
  margin: 0;
}
.tools {
  display: flex;
  flex-direction: column;
}
/* .tools {
  display: flex;
  flex-direction: row;
} */
.span-text {
  color: rgb(236, 255, 212);
  font-weight: 900;
}

/* CONTACT */
.contact-form {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: flex-start;
  justify-items: flex-start;
}
.inputs {
  margin: 1em;
}
.submitbtn {
  width: 15em;
  border-radius: 4px;
  padding: 0.4em;
  margin: 1em;
  background: linear-gradient(to right, rgb(244, 244, 61) 50%, white 50%);

  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.submitbtn:hover {
  background-position: left bottom;
}
